{% load i18n %}
<div class="text-center">
    <h3>{% trans "Inventory" %}</h3>
    <uib-tabset active="activeJustified" justified="true">
        {% for tab in body %}
            <uib-tab index="{{forloop.counter0}}" class='bg-{{tab.style}}'>
                <uib-tab-heading>{{tab.title}} <span class='badge'>{{tab.total}}</span></uib-tab-heading>
                <table class="table table-condensed table-hover">
                    {% if tab.data.0 %}
                        <thead>
                            {% for column in tab.data.0 %}
                            <th>{{column}}</th>
                            {% endfor %}
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for row in tab.data|slice:"1:" %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{cell}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </uib-tab>
        {% endfor %}
    </uib-tabset>
    <h4>{% trans "Do you confirm to set this inventory in the storage/zone?" %}</h4>
</div>
