<td
    ng-class="{'bg-warning': !row.purchasesorder}">
    <span codenerix-html-compile="data.meta.context.form_order_row"></span>
</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-warning': !row.purchasesorder}">{{row.box}}</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-warning': !row.purchasesorder}">{{row.quantity}}</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-warning': !row.purchasesorder}">{{row.product_final}}</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-warning': !row.purchasesorder}">
    <span>{{row.product_unique_value|codenerix}}</span>
</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-warning': !row.purchasesorder}">{{row.caducity}}</td>
