<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-info': row.virtual}">{{row.box|codenerix}}</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-info': row.virtual}">{{row.quantity}}<span ng-if='row.missing' class='text-success'><b> (+{{row.missing}})</b></span></td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-info': row.virtual}">{{row.product_final}}</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-info': row.virtual}">
    <span>{{row.product_unique_value|codenerix}}</span>
</td>
<td
    ng-click='removerecord(row.pk, data.meta.gentranslate.removerecord, {"name": row.product_final+": "+(row.product_unique || row.product_unique_value)})'
    ng-class="{'bg-info': row.virtual}">{{row.caducity|codenerix}}</td>
